html, body {
    margin: auto;
    font: 22px Calibri, Helvetica, Arial;
	width: calc(100% - 100px);
    padding-top: 20px;
    background: linear-gradient(to bottom, #6d8387 0%, #ffffff 73%);
    color: #6d8387;
}

a {
    text-decoration: none;
    color: #6d8387;

}

#full_page {
    background-color: #fff;
    border: 1px solid #6d8387;
    margin-bottom: 50px;
    box-shadow: 5px 8px 5px #6d8387;
}

/* HEADER */
header {
	margin-bottom: 50px;
}
.header-content {
    display: flex;
    justify-content: space-around;
    height: 100%;
	max-width: 100%;
}

.logo {
	padding-top: 30px;
    width: 200px;
    height: 180px;
    float: left;
}
.carrousel {
	margin-left: 100px;
    width: 800px;
	max-width: 800px;
	padding-top: 30px;
}

#languages {
    width: 100%;
	height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

#languages h5 {
    margin-top: 3px;
	padding-right: 5px;
}
.french {
	width: 50px;
    height: 50px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;    
    border-image: linear-gradient(#6d8387, #fff) 1;        
	background: url('../images/flag2_FR_on.png') no-repeat;
}

.english {
    border-right: 2px solid #000;    
    border-image: linear-gradient(#6d8387, #fff) 1;  
	width: 50px;
	height: 50px;
	background: url('../images/flag_EN_off.png') no-repeat;
}

.english:hover {
	background: url('../images/flag2_EN_on.png') no-repeat;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #6d8387;
    border-bottom: 1px solid #6d8387;
    margin-top: 10px;
    background-image: linear-gradient(to top, #6d8387 0%, #ffffff 73%);
    height: 50px;
}

.navlogo {
    padding-top: 15px;
    padding-left: 20px;
}

nav ul {
	display: flex;
}

nav li {
	list-style-type: none;
	font-weight: bold;
    font-size: 0.7em;
    padding: 0 10px;

}

nav li:hover {
    border: none;
    background-color: #6d8387;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
	position: relative;
    bottom: 33px;
    padding-top: 10px;
    line-height: 60px;
    height: 50px;
}

/* aside  */
#main {
    display: flex;
    height: 100%;
	width: 100%;
}
#menu {
    background-image: url('../images/fond_smenu.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px;
    width: 250px;
    height: 100%;
    font-size: 0.7em;
    box-shadow: 5px 0 5px #6d8387;
}

.menu-options {
	list-style-type: none;
	font-weight: bold;
    text-align: right;
    width: 210px;
}

.menu-options li {
	border: 2px solid #000;
	border-right: none;
	border-left: none;
	border-bottom: none;
	border-image: linear-gradient(to right, #fff 0%, #6d8387 100%) 30;

}
.menu-options li p{
	padding-right: 5px;
}
.menu-options li:last-child {
	border: 2px solid #000;
	border-right: none;
	border-left: none;
	border-image: linear-gradient(to right, #fff 0%, #6d8387 100%) 30;
}

.menu-options li:hover {
	cursor: pointer;
	color: #55676b;
	background-color: #b3d1d6;
	border: 3px solid #000;
	border-right: none;
	border-left: none;
	border-image: linear-gradient(to right, #fff 0%, #6d8387 100%) 30;
}

.menu-logo {
    text-align: center;
    padding-top: 100%;
}
.menu-logo img{
    width: 100px;
    height: 100px;
}

/* section */
#content {
    width: calc(100% - 254px);
	float: left;
	min-height: 100px;
}

.titre h3{
    border-bottom: 1px solid #000;
    margin: 20px 20px 50px 40px;
}

.article {
	width: calc(100% - 250px);
    margin: auto 100px auto 70px;
}

.article img {
	position: relative;
    float: right;
    margin: auto auto 50px 30px;
}

footer {
	width: 50%;
	margin-left: 25%;
    clear: both;
    text-align: center;
}

footer a {
    padding-right: 50px;
    font-size: 0.7em;
    text-decoration: underline;
}

.links {
    border: 2px solid #6c7793;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: none;
	padding-left: 50px;
	padding-bottom: 5px;
    background-color: #dde0d1;
}